
  <header>
    <nav class="navbar navbar-default">
      <div class="header-surface container-fluid">
          <h3><%= link_to "Y&A",toppages_path,class:"header-heading" %></h3>
      </div>
    </nav>
  </header>
  <section class="CatchCopy">
    <div class="CatchCopy-title">慶之と杏菜から、愛するみなさまへ。</div>
  </section>
  <section class="time_introduction">
    <div class="time_introduction_img_tile">
      <%= link_to do %>
        <p>当日の時間について</p>
        <img class="time_introduction_img" src="../../assets/IMG_3834.JPG">
      <% end %>
    </div>
  </section>
  <section class="place_introduction">
    <div class="place_introduction_img_tile">
      <%= link_to do %>
        <p>当日の場所について</p>
        <img class="place_introduction_img" src="../../assets/IMG_3833.JPG">
      <% end %>
    </div>
  </section>
  <section class="character_introduction">
    <div class="character_introduction_img_tile">
      <%= link_to characters_path do %>
        <p>大好きなみんなを、大好きなみんなへ紹介します</p>
        <img class="character_introduction_img" src="../../assets/IMG_3830.JPG">
      <% end %>
    </div>
  </section>
